[Desktop Entry]
Name=OpenGothic
Exec=launchopengothic
Type=Application
StartupWMClass=OpenGothic
Comment=Open source reimplementation of Gothic 2 Notr
Categories=Game;RolePlaying;
PrefersNonDefaultGPU=true